@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4f46e5; /* Switch to #f9f506 to use yellow brand */
}

html, body, #__next { height: 100%; }
html { scroll-behavior: smooth; }
body { @apply bg-gray-900 text-white; }

/* Home page animations */
@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -20px) scale(1.05); }
  66% { transform: translate(-20px, 20px) scale(0.95); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob { animation: blob 20s infinite; }
.animation-delay-2000 { animation-delay: 2s; }
.animation-delay-4000 { animation-delay: 4s; }
